.navbar-default{
    border-bottom: 5px solid #dfe4ea;
    background-color: #A3CB38;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-toggle{
    border: none;
}
.navbar-toggle .icon-bar + .icon-bar{
    margin-top: 6px !important;
}
.navbar-toggle .icon-bar{
    width: 37px;
    height: 4px;
    transition: all 0.2s;
}
.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}
.top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.middle-bar {
    opacity: 0;
}
.bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}