<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="footer-icon">
        <a routerLink="/listed-items" routerLinkActive="active">
          <i class="fas fa-list-alt fa-2x"></i>
          <br>
          <small>Listed</small>
        </a>
      </li>
      <li class="footer-icon">
        <a routerLink="/sold-items" routerLinkActive="active">
          <i class="fas fa-dollar-sign fa-2x"></i>
          <br>
          <small>Sold</small>
        </a>
      </li>
      <li class="footer-icon">
        <a routerLink="/search" routerLinkActive="active">
          <i class="fas fa-map-marker-alt fa-2x"></i>
          <br>
          <small>Search</small>
        </a>
      </li>
      <li class="footer-icon">
        <a routerLink="/filter" routerLinkActive="active">
          <i class="fas fa-filter fa-2x"></i>
          <br>
          <small>Filter</small>
        </a>
      </li>
      <li class="footer-icon">
        <a routerLink="/favourites" routerLinkActive="active">
          <i class="fas fa-star fa-2x"></i>
          <br>
          <small>Favourites</small>
        </a>
      </li>
    </ul>
  </div>
</nav>