<!--<p>-->
  <!--{{item.name}} costs {{item.price}}-->
<!--</p>-->
<h3>Items Currently Listed</h3>
<div *ngIf="!listingItem || listedItem">
    <hr>
    <button class="btn btn-primary" (click)="listingItem = true">List an Item&nbsp;<i class="fas fa-plus"></i></button>
    <hr>
</div>
<div *ngIf="listingItem">
    <hr>
    <form (ngSubmit)="onListItem(f)" #f="ngForm">

        <div class="form-group">
            <label for="itemName">What are you selling?</label>
            <input class="form-control" type="text" id="itemName" ngModel name="itemName" placeholder="An Item" required>
        </div>
        <div class="form-group">
            <label for="description">Write a description about this</label>
            <input class="form-control" type="text" id="description" ngModel name="description" placeholder="Any features or problems with the item" required>
        </div>
        <div class="form-group">
            <label for="itemType">What type of item is this?</label>
            <select class="form-control" [(ngModel)]="newItem.type" name="itemType" id="itemType" required>
                <option value="computer" selected>Computer / Laptop</option>
                <option value="smartphone">Smartphone</option>
                <option value="tv">TV</option>
                <option value="tablet">Tablet</option>
                <option value="accessory">Accessory</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="price">How much are you selling it for?</label>
            <div class="input-group">
                <span class="input-group-addon">£</span>
                <input type="number" placeholder="10" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="price" required ngModel name="price">
            </div>
        </div>
        <div class="form-group">
            <label for="addressLine1">Address Line 1</label>
            <input class="form-control" type="text" id="addressLine1" ngModel name="addressLine1" required>
        </div>
        <div class="form-group">
            <label for="addressLine2">Address Line 2</label>
            <input class="form-control" type="text" id="addressLine2" ngModel name="addressLine2" required>
        </div>
        <div class="form-group">
            <label for="townCity">Town / City</label>
            <input class="form-control" type="text" id="townCity" ngModel name="townCity" required>
        </div>
        <div class="form-group">
            <label for="postCode">Post Code</label>
            <input class="form-control" type="text" id="postCode" ngModel name="postCode" required maxlength="7">
        </div>

        <button class="btn btn-primary form__post-item-button" type="submit" [disabled]="!f.valid">List Item</button>
        <button class="btn btn-danger" (click)="listingItem = false;">Cancel</button>
    </form>
</div>

<div class="panel-group" id="accordion" *ngIf="!listingItem">
    <div class="panel panel-default" *ngFor="let item of userItems; let i = index">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#{{i}}">{{item.name}}</a>
            </h4>
        </div>
        <div id="{{i}}" class="panel-collapse collapse" [ngClass]="{'in': i == 0}">
            <div class="panel-body">{{item.name}} costs {{item.price}}</div>
        </div>
    </div>
</div>