<!--TODO: Create a pipe or filter for each of the following controls-->
<div class="row map-filters">
    <div class="col-xs-12">
        <input type="text" class="form-control map-filters__map-filter" placeholder="Enter Keyword" [(ngModel)]="keywordSearch">
    </div>
</div>

<agm-map [latitude]="lat"
         [longitude]="lng"
         [zoom]="12"
         [zoomControl]="true"
         [panControl]="true"
         [gestureHandling]="'greedy'"
         [clickableIcons]="false"
         [mapTypeId]="'roadmap'"
         (mapClick)="mapClicked($event)">
    <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="'./assets/user-marker.png'"></agm-marker>
    <agm-marker-cluster [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'" [maxZoom]="15">
        <agm-marker *ngFor="let m of markers| filter: keywordSearch ; let i = index"
                    [latitude]="m.lat"
                    [longitude]="m.lng"
                    (markerClick)="markerClicked(m, i)"
                    [iconUrl]="{url: getMarkerUrl(m)}">
            <!--<agm-info-window [isOpen]="i == currentMarker">-->
                <!--<strong>{{m.name}}</strong>-->
                <!--<p>{{m.description}}</p>-->
                <!--<h4>£{{m.price}}</h4>-->
                <!--<a (click)="viewProductDetails(m)" data-toggle="modal" data-target="#productDetails">More Details</a>-->
            <!--</agm-info-window>-->
        </agm-marker>
    </agm-marker-cluster>
</agm-map>

<nav class="navbar navbar-default navbar-fixed-bottom itemCarousel" *ngIf="markerGroup.length > 0">
    <div class="container-fluid">
        <div class="itemCarousel__fixedClose">
            <a (click)="markerGroup = []" class="itemCarousel__close"><i class="fas fa-window-close fa-2x"></i></a>
        </div>
        <div class="itemCarousel__itemsSection">
            <a class="itemCarousel__items" *ngFor="let item of markerGroup; let i = index" (click)="viewProductDetails(item)" data-toggle="modal" data-target="#productDetails">
                <p>{{item.name.length < 35 ? item.name : item.name.substr(0,35) + '...'}}</p>
                <h4>£{{item.price}}</h4>
            </a>
        </div>
    </div>
</nav>

<div class="modal fade" id="productDetails" role="dialog" *ngIf="productInView">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>£{{productInView.price}} - {{productInView.name}}</strong></h4>
            </div>
            <div class="modal-body">
                <p><strong>Description</strong><br>{{productInView.description}}</p>
                <hr>
                <h4 class="modal__modal-section-header">Contact Details</h4>
                <a href="{{contactNo}}" class="modal__modal-link">
                    <i class="fas fa-phone"></i>&nbsp;
                    <h4 class="modal__modal-header">{{productInView.contact_number}}</h4>
                </a>
                <a href="{{mailTo}}" class="modal__modal-link">
                    <i class="fas fa-envelope"></i>&nbsp;
                    <h5 class="modal__modal-header">{{productInView.email_address}}</h5>
                </a>
                <p>{{productInView.formatted_address}}</p>
                <button type="button" class="btn btn-primary" (click)="addToFavourites(productInView)" [disabled]="isAddedToFavourites(productInView)">
                    <span *ngIf="!isAddedToFavourites(productInView)" >Add to Favourites <i class="far fa-star"></i></span>
                    <span *ngIf="isAddedToFavourites(productInView)" >Added to Favourites <i class="fas fa-star"></i></span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>