<h3>Create an Account</h3>
<hr>
<form>
  <div class="form-group">
    <label for="firstName">First Name(s)</label>
    <input type="text" id="firstName" class="form-control" placeholder="Will">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" class="form-control" placeholder="Barrow">
  </div>
  <div class="form-group">
    <label for="email">Email&nbsp;</label>
    <input type="email" id="email" class="form-control" placeholder="example@email.com">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control">
  </div>
  <div class="text-center">
    <button class="btn btn-primary" type="submit">Create Account&nbsp;<i class="fas fa-plus"></i></button>
  </div>
</form>
<hr>
<div class="text-center">
  <p>Already have an account?</p>
  <a routerLink="/">Sign in now</a>
</div>
